<!doctype htmll>
<html lang="fr">
<head>
    <!-- Required meta flags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Site anime quizz</title>

    <!-- Chargement de bootstrap -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Index script qui sera utilisé par les différentes pages du site -->
    {% block script%}   
    {% endblock %}

    
</head>
<body>
    <!-- Titre -->
    <header style="background-size: cover;">
        <h1 style=" text-align: center;"><a href="http://127.0.0.1:8000/">Anime Quizz</a></h1>
    
        <!-- Menu commun à toutes les pages -->
        <nav style="width: 100%;">
            <div  >
                <ul style="text-align: center; ">
                    <li style="text-decoration: none; display: inline-block;"><a href="http://127.0.0.1:8000/">Accueil</a></li>
                    <li style="text-decoration: none; display: inline-block;"><a href="http://127.0.0.1:8000/">????</a></li>
                    <li style="text-decoration: none; display: inline-block;"><a href="http://127.0.0.1:8000/">?????</a></li>
                    <li style="text-decoration: none; display: inline-block;"><a href="http://127.0.0.1:8000/">?????</a></li>
                    <li style="text-decoration: none; display: inline-block;"><a href="http://127.0.0.1:8000/test/">test</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Index du corps de la page qui dépend des pages -->
    {% block contenu%}       
    {% endblock %}
</body>
